.quiz-container {
    border: 1px solid #dbdada;
    border-radius: 10px;
    margin: 20px auto;
    width: 70%;
    padding: 20px;
}

.quizzes {
    margin-top: 20px;
}

.quizzes div {
    margin: 10px auto;
    padding: 5px;
    text-align: start;
    width: 60%;
    display: flex;
}

.quizzes div:hover {
    background-color: #d0dbdb;
    border-radius: 2px;
}

.quizzes div input {
    margin-right: 8px;
}

.quizzes div label {
    width: 100%;
}

.hero-icon {
    width: 22px;
    cursor: pointer;
    position: absolute;
    right: 18%;
}